.header img{
  max-width: 90px;
}

.header h1{
  font-family: Satisfy, cursive;
  color: #f48059;
  font-size: 50px;
}

.header ul li a{
  color: #61aee6;
  font-weight: bold;
  font-size: 22px;
}

.the-brand{
  padding-top: 15px;
  display: inline-flex;
}

.the-pills{
  padding-top: 25px;
}

.jumbotron{
  background-image: url(../img/hero.jpg);
  min-height: 500px;
  background-position: center;
  background-size: cover;
}

.jumbotron h1{
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 45px;
  margin-top: -8px;
}

.featured .thumbnail{
  background-color: #edf1f4;
  padding: 0px 10px;
  padding-top: 10px;
}

.featured h2{
  text-transform: uppercase;
}

.featured .item{
  padding: 0 5px;
}

.services h2{
  text-transform: uppercase;
}

.services ul li a{
  text-transform: uppercase;
  color: #61aee6;
}

footer img{
  max-width: 150px;
}

footer{
  background-color: #231f20;
  padding: 15px;
}

footer a{
  color: #ddd;
  font-size: 18px;
}

footer .borderl{
  border-left: 1px solid #333;
  padding-top: 10px;
}

footer .copyright{
  color: #505050;
  font-size: 18px;
}

table{
  font-size: 16px;
}

.contact-content{
  padding-top: 30px;
}

.map {
  position: relative;
  padding-bottom: 35%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}
.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

@media screen and (max-width:767px) {
  .contact-content h3, .contact-content p{
    text-align: center;
  }

  .the-brand{
  }

  .header-center768{
     display: flex;
     width: 100%;
  }
}
